page-informacion-establecimiento {
    #map {
        width: 100%;
        height: 100px !important;
    }

    #mapa {
        width: 100%;
        height: 150px !important;
    }

    .imagenEstablecimiento {
        width: 100%;
        height: 20% !important;
    }
}
